<% content_for :navbar do %>
  <%= link_to 'Source (VueJS)', 'https://github.com/sam-watson/Sams-blog/tree/master/app/javascript' %>
<% end %>

<div class="vue" data-behavior="vue">   
  <app/>
</div>