<div class="welcome">

  <div class="relative h-screen w-screen">
    <div class="absolute abs-center-circle mx-auto flex items-center justify-center bg-transparent rounded-full shadow-xl">
      <div class="flex-shrink-0">
        <h1 class="text-orange-100">Hello!</h1>
        <%= link_to 'Blog', controller: 'articles' %><br>
        <%= link_to 'Resume', '/SamWatson-Resume.pdf', target: :_blank %><br>
        <%= link_to 'Github', 'https://github.com/sam-watson', target: :_blank %><br>
      </div>
    </div>
  </div>
  
</div>
