<div class="welcome-page">

  <div class="menu">
    <h1 class="text-orange-100">Halloo!</h1>
    <%= link_to 'Rails Blog', controller: 'articles' %><br>
    <%= link_to 'VueJS', controller: 'learn_accounting' %><br>
    <%= link_to 'Resume', '/SamWatson-Resume.pdf', target: :_blank %><br>
    <%= link_to 'Github', 'https://github.com/sam-watson', target: :_blank %><br>
  </div>

</div>
