
.abs-center-circle {
  margin: auto 0;
  left: 29vw;
  width: 40vw;
  height: 38vw;
}

.bg-fog {
  background-color: rgba(102,102,102,0.3);
}

.welcome {
  background: url(/assets/background.jpg) no-repeat center center fixed;
  background-size: cover;
}
