/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
body,html {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: rgb(32, 41, 41);
  background-size: cover;
  color: white;
  min-height: 100%;
}

.content {
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  margin: 10px;
}

.nav-icon {
  font-size: x-large;  
}

.page-title {
  font-family: 'Rasa', cursive;
}

.welcome-page {
  background: url(/assets/background.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  font-size: 1.1em;
}

.menu {
  height: 100%;
  margin: 0 auto;  
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}
@media only screen and (max-width: 640px) {
  .menu {
    width: 280px;
  }
}

.menu .sub-title {
  text-align: center;
}

a {
  color: white;
}

